*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'poppins' sans-serif;
}
.container {
     padding: 2px;
}
.navbar {
     width: 100%;
     background-color: #332;
     height: 100px;
     position: sticky;
     border: 1px solid black;
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-radius: 6px;
}
.btn {
     margin: 25px;
     padding: 6px 9px;
     border-radius: 5px;
     border: 1px solid rgb(160, 154, 154);
     font-size: 15px;
     background: transparent;
     color: aliceblue;
     transition: 0.5s;
}
.btn:hover{
     transition: 0.5s;
     background: linear-gradient(-45deg, #64ff1c 0%, #40e2ff 100%);
     border: 1px solid rgb(68, 66, 66);
     color: rgb(64, 68, 68);
}
.container2 {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 530px;
}
.px {
     position: absolute;
     width: 50px;
     left: 95%;
     bottom: 2%;
}
.ok {
     margin: 100px;
     width: 400px;
     height: 230px;
     position: relative;
}


.ok .btnm {
     position: absolute;
     padding: 8px 30px;
     border-radius: 5px;
     border: 1px solid rgb(99, 96, 96);
     background: transparent;
     font-weight: bold;
     backdrop-filter: blur(10px);
     bottom: 10%;
     left: 45%;
     transition: 0.5s;
     cursor: pointer;
}
.ok .btnm:hover {
     transition: 0.5s;
     border: 1px solid black;
     box-shadow: 6px 6px 6px #000000;
     color: rgb(27, 26, 26);
     background: linear-gradient(-45deg, #e81cff 0%, #ccff40 100%);
}

.ok .imgs {
     width: 400px;
     border-radius: 8px;
}
.image1 {
     margin-left: -10px;
     width: 350px;
}
.u {
     height: 230px;
}